@font-face {
	font-family: 'et-line';
	src:url("../fonts/et-line.eot");
	src:url("../fonts/et-line-.eot#iefix") format('embedded-opentype'),
		url("../fonts/et-line.woff") format('woff'),
		url("../fonts/et-line.ttf") format('truetype'),
		url("../fonts/et-line.svg#et-line") format('svg');
	font-weight: normal;
	font-style: normal;
}

.et-mobile, .et-laptop, .et-desktop, .et-tablet, .et-phone, .et-document, .et-documents, .et-search, .et-clipboard, .et-newspaper, .et-notebook, .et-book-open, .et-browser, .et-calendar, .et-presentation, .et-picture, .et-pictures, .et-video, .et-camera, .et-printer, .et-toolbox, .et-briefcase, .et-wallet, .et-gift, .et-bargraph, .et-grid, .et-expand, .et-focus, .et-edit, .et-adjustments, .et-ribbon, .et-hourglass, .et-lock, .et-megaphone, .et-shield, .et-trophy, .et-flag, .et-map, .et-puzzle, .et-basket, .et-envelope, .et-streetsign, .et-telescope, .et-gears, .et-key, .et-paperclip, .et-attachment, .et-pricetags, .et-lightbulb, .et-layers, .et-pencil, .et-tools, .et-tools-2, .et-scissors, .et-paintbrush, .et-magnifying-glass, .et-circle-compass, .et-linegraph, .et-mic, .et-strategy, .et-beaker, .et-caution, .et-recycle, .et-anchor, .et-profile-male, .et-profile-female, .et-bike, .et-wine, .et-hotairballoon, .et-globe, .et-genius, .et-map-pin, .et-dial, .et-chat, .et-heart, .et-cloud, .et-upload, .et-download, .et-target, .et-hazardous, .et-piechart, .et-speedometer, .et-global, .et-compass, .et-lifesaver, .et-clock, .et-aperture, .et-quote, .et-scope, .et-alarmclock, .et-refresh, .et-happy, .et-sad, .et-facebook, .et-twitter, .et-googleplus, .et-rss, .et-tumblr, .et-linkedin, .et-dribbble {
	font-family: 'et-line';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display:inline-block;
}
.et-mobile:before {
	content: "\e000";
}
.et-laptop:before {
	content: "\e001";
}
.et-desktop:before {
	content: "\e002";
}
.et-tablet:before {
	content: "\e003";
}
.et-phone:before {
	content: "\e004";
}
.et-document:before {
	content: "\e005";
}
.et-documents:before {
	content: "\e006";
}
.et-search:before {
	content: "\e007";
}
.et-clipboard:before {
	content: "\e008";
}
.et-newspaper:before {
	content: "\e009";
}
.et-notebook:before {
	content: "\e00a";
}
.et-book-open:before {
	content: "\e00b";
}
.et-browser:before {
	content: "\e00c";
}
.et-calendar:before {
	content: "\e00d";
}
.et-presentation:before {
	content: "\e00e";
}
.et-picture:before {
	content: "\e00f";
}
.et-pictures:before {
	content: "\e010";
}
.et-video:before {
	content: "\e011";
}
.et-camera:before {
	content: "\e012";
}
.et-printer:before {
	content: "\e013";
}
.et-toolbox:before {
	content: "\e014";
}
.et-briefcase:before {
	content: "\e015";
}
.et-wallet:before {
	content: "\e016";
}
.et-gift:before {
	content: "\e017";
}
.et-bargraph:before {
	content: "\e018";
}
.et-grid:before {
	content: "\e019";
}
.et-expand:before {
	content: "\e01a";
}
.et-focus:before {
	content: "\e01b";
}
.et-edit:before {
	content: "\e01c";
}
.et-adjustments:before {
	content: "\e01d";
}
.et-ribbon:before {
	content: "\e01e";
}
.et-hourglass:before {
	content: "\e01f";
}
.et-lock:before {
	content: "\e020";
}
.et-megaphone:before {
	content: "\e021";
}
.et-shield:before {
	content: "\e022";
}
.et-trophy:before {
	content: "\e023";
}
.et-flag:before {
	content: "\e024";
}
.et-map:before {
	content: "\e025";
}
.et-puzzle:before {
	content: "\e026";
}
.et-basket:before {
	content: "\e027";
}
.et-envelope:before {
	content: "\e028";
}
.et-streetsign:before {
	content: "\e029";
}
.et-telescope:before {
	content: "\e02a";
}
.et-gears:before {
	content: "\e02b";
}
.et-key:before {
	content: "\e02c";
}
.et-paperclip:before {
	content: "\e02d";
}
.et-attachment:before {
	content: "\e02e";
}
.et-pricetags:before {
	content: "\e02f";
}
.et-lightbulb:before {
	content: "\e030";
}
.et-layers:before {
	content: "\e031";
}
.et-pencil:before {
	content: "\e032";
}
.et-tools:before {
	content: "\e033";
}
.et-tools-2:before {
	content: "\e034";
}
.et-scissors:before {
	content: "\e035";
}
.et-paintbrush:before {
	content: "\e036";
}
.et-magnifying-glass:before {
	content: "\e037";
}
.et-circle-compass:before {
	content: "\e038";
}
.et-linegraph:before {
	content: "\e039";
}
.et-mic:before {
	content: "\e03a";
}
.et-strategy:before {
	content: "\e03b";
}
.et-beaker:before {
	content: "\e03c";
}
.et-caution:before {
	content: "\e03d";
}
.et-recycle:before {
	content: "\e03e";
}
.et-anchor:before {
	content: "\e03f";
}
.et-profile-male:before {
	content: "\e040";
}
.et-profile-female:before {
	content: "\e041";
}
.et-bike:before {
	content: "\e042";
}
.et-wine:before {
	content: "\e043";
}
.et-hotairballoon:before {
	content: "\e044";
}
.et-globe:before {
	content: "\e045";
}
.et-genius:before {
	content: "\e046";
}
.et-map-pin:before {
	content: "\e047";
}
.et-dial:before {
	content: "\e048";
}
.et-chat:before {
	content: "\e049";
}
.et-heart:before {
	content: "\e04a";
}
.et-cloud:before {
	content: "\e04b";
}
.et-upload:before {
	content: "\e04c";
}
.et-download:before {
	content: "\e04d";
}
.et-target:before {
	content: "\e04e";
}
.et-hazardous:before {
	content: "\e04f";
}
.et-piechart:before {
	content: "\e050";
}
.et-speedometer:before {
	content: "\e051";
}
.et-global:before {
	content: "\e052";
}
.et-compass:before {
	content: "\e053";
}
.et-lifesaver:before {
	content: "\e054";
}
.et-clock:before {
	content: "\e055";
}
.et-aperture:before {
	content: "\e056";
}
.et-quote:before {
	content: "\e057";
}
.et-scope:before {
	content: "\e058";
}
.et-alarmclock:before {
	content: "\e059";
}
.et-refresh:before {
	content: "\e05a";
}
.et-happy:before {
	content: "\e05b";
}
.et-sad:before {
	content: "\e05c";
}
.et-facebook:before {
	content: "\e05d";
}
.et-twitter:before {
	content: "\e05e";
}
.et-googleplus:before {
	content: "\e05f";
}
.et-rss:before {
	content: "\e060";
}
.et-tumblr:before {
	content: "\e061";
}
.et-linkedin:before {
	content: "\e062";
}
.et-dribbble:before {
	content: "\e063";
}


