/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .watermarker-product-img {
      display: none;
  }
  #navbarResponsive {
      position: absolute;
      left: 0px;
      top: 101px;
      background: #fff;
      z-index: 1000;
      width: 95%;
      margin-left: 10px;
      margin-right: 10px;
  }

  .grid-icon .img-icon {
      width: 80px !important;
      padding: 10px !important;
  }
  .grid-icon .col-lg-3{
    text-align: center;
  }
  .grid-icon .content{
    text-align: center;
  }
  .grid-icon .content p {
    margin: 0px;
    line-height: 1.4;
    font-size: 12px;
  }
  .grid-icon .content h2 {
    font-size: 0.9em !important;
    color: #fbd032;
    margin: 0;
  }
  .after-slider{
    padding: 3em 0px 0px !important;
  }
  .header-top-right{
    display: none !important;
  }
  .header-top {
      color: #fff;
      border-bottom: 1px solid #e6e6e6;
      background-color: #3377bc;
      padding: 10px 0px;
  }
  .pack-section .container{
  padding: 0;
  }
  .watermarker-product-img {
      display: none;
  }
  #navbarResponsive {
      position: absolute;
      left: 0px;
      top: 101px;
      background: #fff;
      z-index: 1000;
      width: 95%;
      margin-left: 10px;
      margin-right: 10px;
  }

  .grid-icon .img-icon {
      width: 80px !important;
      padding: 10px !important;
  }
  .grid-icon .col-lg-3{
    text-align: center;
  }
  .grid-icon .content{
    text-align: center;
  }
  .grid-icon .content p {
    margin: 0px;
    line-height: 1.4;
    font-size: 12px;
  }
  .grid-icon .content h2 {
    font-size: 0.9em !important;
    color: #fbd032;
    margin: 0;
  }
  .after-slider{
    padding:3em 0px;
  }
  .header-top-right{
    display: none !important;
  }
  .header-top {
      color: #fff;
      border-bottom: 1px solid #e6e6e6;
      background-color: #3377bc;
      padding: 10px 0px;
  }
  .watermarker-product-img{
      display: none;
  }
  .box-1 {
      background-image: url(../img/Revairflyer_BGnd-01.png);
      height: auto;
      padding: 3em 0px 6.4em;
      margin: 5px;
      background-size: cover;
      background-position: bottom;
  }
  .box-1 .capacity {
      font-size: 7em;
      position: relative;
      left: -20px;
      bottom: 28px;
      top: 0px;
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: #fff;
      font-weight: bold;
  }
  .box-1 .mbps-text {
      position: absolute;
      font-size: 1.8em;
      right: 82px;
      top: 135px;
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
  }
  .box-2{
    background-image:url(../img/Revairflyer_BGnd-02.png);
    height: auto;
    padding: 3em 0px 6.4em;
    margin: 5px;
    background-size: cover;
    background-position: bottom;
  }

  .box-2 .capacity{
    color: #c4a83b;
    font-size: 6em;
    position: relative;
    left: -28px;
    top: 10px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #fff;
    letter-spacing: -10px;
    font-weight: bold;
  }
  .box-2 .mbps-text{
    position: absolute;
    color: #c4a83b;
    font-size: 1.8em;
    right: 74px;
    top: 135px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
  }
  .box-3{
    background-image:url(../img/Revairflyer_BGnd-03.png);
    height: auto;
    padding: 3em 0px 6.5em;
    margin: 5px;
    background-size: cover;
    background-position: bottom;
  }

  .box-3 .capacity{
    color: #2a6799;
    font-size: 6em;
    position: relative;
    left: -27px;
    top: 10px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #fff;
    letter-spacing: -10px;
    font-weight: bold;
  }
  .box-3 .mbps-text{
    position: absolute;
    color: #2a6799;
    font-size: 1.8em;
    right: 65px;
    top: 135px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
  }
  .box-4{
    background-image:url(../img/Revairflyer_BGnd-04.png);
    height: auto;
    padding: 3em 0px 6.5em;
    margin: 5px;
    background-size: cover;
    background-position: bottom;
  }
  .box-4 .capacity{
    color: #208b60;
    font-size: 6em;
    position: relative;
    left: -20px;
    top: 10px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #fff;
    letter-spacing: -10px;
    font-weight: bold;
  }
  .box-4 .mbps-text{
      position: absolute;
      color: #208b60;
      font-size: 1.8em;
      right: 55px;
      top: 135px;
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
  }
  .amount-text {
      font-size: 1.2em;
      font-weight: bold;
      color: #3b4c54;
      position: absolute;
      margin: 0px auto;
      display: block;
      left: 4.3em;
      top: 175px;
  }
  .includes-list {
      color: #fff;
      font-size: 14px;
      padding-inline-start: 2em;
  }
  .pack-section .col-6:nth-child(1){
    padding-right: 2.5px;
  }
  .pack-section .col-6:nth-child(2){
    padding-left: 2.5px;
  }
  .pack-section .col-6:nth-child(3){
    padding-right: 2.5px;
  }
  .pack-section .col-6:nth-child(4){
    padding-left: 2.5px;
  }
  .navbar-nav .nav-item.active a:after, 
  .navbar-dark .navbar-nav .nav-item:hover a:after {
      content: '';
      position: absolute;
      height: 1px;
      background: #fbd032;
      left: 19px;
      right: 0;
      margin: 0;
      top: 35px;
      -webkit-transition: all .2s;
      transition: all .2s;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .pack-section .container{
    max-width: 750px;
  }
  .watermarker-product-img {
      display: none;
  }
  #navbarResponsive {
      position: absolute;
      left: 0px;
      top: 101px;
      background: #fff;
      z-index: 1000;
      width: 95%;
      margin-left: 10px;
      margin-right: 10px;
  }

  .grid-icon .img-icon {
      width: 80px !important;
      padding: 10px !important;
  }
  .grid-icon .col-lg-3{
    text-align: center;
  }
  .grid-icon .content{
    text-align: center;
  }
  .grid-icon .content p {
    margin: 0px;
    line-height: 1.4;
    font-size: 12px;
  }
  .grid-icon .content h2 {
    font-size: 0.9em !important;
    color: #fbd032;
    margin: 0;
  }
  .after-slider{
    padding:3em 0px;
  }
  .header-top-right{
    display: none !important;
  }
  .header-top {
      color: #fff;
      border-bottom: 1px solid #e6e6e6;
      background-color: #3377bc;
      padding: 10px 0px;
  }
  .watermarker-product-img{
      display: none;
  }
  .box-1 {
      background-image: url(../img/Revairflyer_BGnd-01.png);
      background-size: 29vh 59vh;
      height: auto;
      padding: 3em 0px 6.4em;
      margin: 5px;
  }
  .box-1 .capacity {
      font-size: 8em;
      position: relative;
      left: -30px;
      bottom: 28px;
      top: -15px;
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: #fff;
      font-weight: bold;
  }
  .box-1 .mbps-text {
      position: absolute;
      font-size: 1.8em;
      right: 105px;
      top: 135px;
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
  }
  .box-2{
    background-image:url(../img/Revairflyer_BGnd-02.png);
    background-size: cover;
    background-position: bottom;
    height: auto;
    padding: 3em 0px 6.4em;
    margin: 5px;
  }

  .box-2 .capacity{
    color: #c4a83b;
    font-size: 7em;
    position: relative;
    left: -40px;
    top: -3px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #fff;
    letter-spacing: -10px;
    font-weight: bold;
  }
  .box-2 .mbps-text{
    position: absolute;
    color: #c4a83b;
    font-size: 1.8em;
    right: 80px;
    top: 135px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
  }
  .box-3{
    background-image:url(../img/Revairflyer_BGnd-03.png);
    background-size: cover;
    background-position: bottom;
    height: auto;
    padding: 3em 0px 6.5em;
    margin: 5px;
  }

  .box-3 .capacity{
    color: #2a6799;
    font-size: 7em;
    position: relative;
    left: -40px;
    top: -3px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #fff;
    letter-spacing: -10px;
    font-weight: bold;
  }
  .box-3 .mbps-text{
    position: absolute;
    color: #2a6799;
    font-size: 1.8em;
    right: 80px;
    top: 135px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
  }
  .box-4{
    background-image:url(../img/Revairflyer_BGnd-04.png);
    background-size: cover;
    background-position: bottom;
    height: auto;
    padding: 3em 0px 6.5em;
    margin: 5px;
  }
  .box-4 .capacity{
    color: #208b60;
    font-size: 7em;
    position: relative;
    left: -45px;
    top: -3px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #fff;
    letter-spacing: -10px;
    font-weight: bold;
  }
  .box-4 .mbps-text{
      position: absolute;
      color: #208b60;
      font-size: 1.8em;
      right: 70px;
      top: 135px;
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
  }
  .amount-text {
      font-size: 1.3em;
      font-weight: bold;
      color: #3b4c54;
      position: absolute;
      margin: 0px auto;
      display: block;
      left: 4.5em;
      top: 175px;
  }
  .includes-list {
      color: #fff;
      font-size: 15px;
      padding-inline-start: 3em;
  }
  .navbar-nav .nav-item.active a:after, 
  .navbar-dark .navbar-nav .nav-item:hover a:after {
      content: '';
      position: absolute;
      height: 1px;
      background: #fbd032;
      left: 19px;
      right: 0;
      margin: 0;
      top: 35px;
      -webkit-transition: all .2s;
      transition: all .2s;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  #navbarResponsive {
      position: absolute;
      left: 0px;
      top: 101px;
      background: #fff;
      z-index: 1000;
      width: 95%;
      margin-left: 10px;
      margin-right: 10px;
  }
  #navbarResponsive {
      position: absolute;
      left: 0px;
      top: 101px;
      background: #fff;
      z-index: 1000;
      width: 95%;
      margin-left: 10px;
      margin-right: 10px;
  }

  .grid-icon .img-icon {
      width: 80px !important;
      padding: 10px !important;
  }
  .grid-icon .col-lg-3{
    text-align: center;
  }
  .grid-icon .content{
    text-align: center;
  }
  .grid-icon .content p {
    margin: 0px;
    line-height: 1.4;
    font-size: 12px;
  }
  .grid-icon .content h2 {
    font-size: 0.9em !important;
    color: #fbd032;
    margin: 0;
  }
  .header-top-right{
      display: none !important;
  }
  .header-top {
      color: #fff;
      border-bottom: 1px solid #e6e6e6;
      background-color: #3377bc;
      padding: 10px 0px;
  }
  .watermarker-product-img{
      display: none;
  }
  .box-1 {
      background-image: url(../img/Revairflyer_BGnd-01.png);
     background-size: cover;
    background-position: bottom;
      height: auto;
      padding: 3em 0px 6.4em;
      margin: 5px;
  }
  .box-1 .capacity {
      font-size: 8em;
      position: relative;
      left: -30px;
      bottom: 28px;
      top: -15px;
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: #fff;
      font-weight: bold;
  }
  .box-1 .mbps-text {
      position: absolute;
      font-size: 1.8em;
      right: 135px;
      top: 135px;
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
  }
  .box-2{
    background-image:url(../img/Revairflyer_BGnd-02.png);
   background-size: cover;
    background-position: bottom;
    height: auto;
    padding: 3em 0px 6.4em;
    margin: 5px;
  }

  .box-2 .capacity{
    color: #c4a83b;
    font-size: 7em;
    position: relative;
    left: -40px;
    top: -3px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #fff;
    letter-spacing: -10px;
    font-weight: bold;
  }
  .box-2 .mbps-text{
    position: absolute;
    color: #c4a83b;
    font-size: 1.8em;
    right: 110px;
    top: 135px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
  }
  .box-3{
    background-image:url(../img/Revairflyer_BGnd-03.png);
   background-size: cover;
    background-position: bottom;
    height: auto;
    padding: 3em 0px 6.5em;
    margin: 5px;
  }

  .box-3 .capacity{
    color: #2a6799;
    font-size: 7em;
    position: relative;
    left: -40px;
    top: -3px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #fff;
    letter-spacing: -10px;
    font-weight: bold;
  }
  .box-3 .mbps-text{
    position: absolute;
    color: #2a6799;
    font-size: 1.8em;
    right: 110px;
    top: 135px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
  }
  .box-4{
    background-image:url(../img/Revairflyer_BGnd-04.png);
    background-size: 36vh 56vh;
    height: auto;
    padding: 3em 0px 6.5em;
    margin: 5px;
  }
  .box-4 .capacity{
    color: #208b60;
    font-size: 7em;
    position: relative;
    left: -45px;
    top: -3px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #fff;
    letter-spacing: -10px;
    font-weight: bold;
  }
  .box-4 .mbps-text{
      position: absolute;
      color: #208b60;
      font-size: 1.8em;
      right: 97px;
      top: 135px;
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
  }
  .amount-text {
      font-size: 1.3em;
      font-weight: bold;
      color: #3b4c54;
      position: absolute;
      margin: 0px auto;
      display: block;
      left: 6em;
      top: 175px;
  }
  .includes-list {
      color: #fff;
      font-size: 15px;
      padding-inline-start: 3em;
  }
  .navbar-nav .nav-item.active a:after, 
  .navbar-dark .navbar-nav .nav-item:hover a:after {
      content: '';
      position: absolute;
      height: 1px;
      background: #fbd032;
      left: 19px;
      right: 0;
      margin: 0;
      top: 35px;
      -webkit-transition: all .2s;
      transition: all .2s;
  }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .navbar-dark .navbar-nav .nav-link {
      color: rgb(47, 63, 72);
      text-transform: capitalize;
      font-size: 14px;
      padding: 0px 0.8em !important;
  }
  .watermarker-product-img{
      display: none;
  }
  .box-1 {
      background-image: url(../img/Revairflyer_BGnd-01.png);
      background-size: 50vh 55vh;
      height: auto;
      padding: 3em 0px 6.4em;
      margin: 5px;
  }
  .box-1 .capacity {
      font-size: 8em;
      position: relative;
      left: -30px;
      bottom: 28px;
      top: -15px;
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: #fff;
      font-weight: bold;
  }
  .box-1 .mbps-text {
      position: absolute;
      font-size: 1.8em;
      right: 200px;
      top: 135px;
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
  }
  .box-2{
    background-image:url(../img/Revairflyer_BGnd-02.png);
    background-size: 55vh 55vh;
    height: auto;
    padding: 3em 0px 6.4em;
    margin: 5px;
  }

  .box-2 .capacity{
    color: #c4a83b;
    font-size: 7em;
    position: relative;
    left: -40px;
    top: -3px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #fff;
    letter-spacing: -10px;
    font-weight: bold;
  }
  .box-2 .mbps-text{
    position: absolute;
    color: #c4a83b;
    font-size: 1.8em;
    right: 170px;
    top: 135px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
  }
  .box-3{
    background-image:url(../img/Revairflyer_BGnd-03.png);
    background-size: 55vh 55vh;
    height: auto;
    padding: 3em 0px 6.5em;
    margin: 5px;
  }

  .box-3 .capacity{
    color: #2a6799;
    font-size: 7em;
    position: relative;
    left: -40px;
    top: -3px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #fff;
    letter-spacing: -10px;
    font-weight: bold;
  }
  .box-3 .mbps-text{
    position: absolute;
    color: #2a6799;
    font-size: 1.8em;
    right: 170px;
    top: 135px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
  }
  .box-4{
    background-image:url(../img/Revairflyer_BGnd-04.png);
    background-size: 55vh 56vh;
    height: auto;
    padding: 3em 0px 6.5em;
    margin: 5px;
  }
  .box-4 .capacity{
    color: #208b60;
    font-size: 7em;
    position: relative;
    left: -40px;
    top: -3px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #fff;
    letter-spacing: -10px;
    font-weight: bold;
  }
  .box-4 .mbps-text{
      position: absolute;
      color: #208b60;
      font-size: 1.8em;
      right: 155px;
      top: 135px;
      font-weight: bold;
      -webkit-font-smoothing: antialiased;
  }
  .amount-text {
      font-size: 1.3em;
      font-weight: bold;
      color: #3b4c54;
      position: absolute;
      margin: 0px auto;
      display: block;
      left: 9em;
      top: 170px;
  }
  .includes-list {
      color: #fff;
      font-size: 16px;
      padding-inline-start: 7em;
  }
  .navbar-nav .nav-item.active a:after, 
  .navbar-dark .navbar-nav .nav-item:hover a:after {
      content: '';
      position: absolute;
      height: 1px;
      background: #fbd032;
      left: 19px;
      right: 0;
      margin: 0;
      top: 35px;
      -webkit-transition: all .2s;
      transition: all .2s;
  }

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #3377bc;
    position: relative;
  } 
  .navbar-nav .nav-item.active a:after, 
  .navbar-nav .nav-item a:after {
      width: 30px;
  }
  .navbar-nav .nav-item.active a:after, 
  .navbar-dark .navbar-nav .nav-item:hover a:after {
      content: '';
      position: absolute;
      height: 1px;
      background: #fbd032;
      left: 0;
      right: 0;
      top: 0px;
      margin: auto;
      -webkit-transition: all .2s;
      transition: all .2s;
  }
}