/*==================================================================================
    Custom Stylesheet (Any custom styling you want to apply should be defined here).
====================================================================================*/
#bellow-slider{
    background: #387abd;
    color: #fff;
    padding:2em 0px;
}
.faq-side{
    max-height: 310px;
    overflow: overlay;
}
.logo img{
  width: 150px;
}
.grid-icon{
  display: inline-block;
  border-right: 1px dashed #ccc;
  padding: 0px 1em;
}
.grid-icon:last-child{
  border-right:0px;
}
.grid-icon .img-icon{
  width: 100%;

} 
.img-full{
  width: 100%;
}
.grid-icon .content{}
.grid-icon .content p{
  margin: 0px;
  line-height: 1.4;
  font-size: 14px;
}
.grid-icon .content h2{
  font-size: 1em !important;
  color: #fbd032;
  margin: 0;
}
.pack-info{
  background-color: #3277bb;
  color: #fff;
  padding: 4em !important;
}
.pack-title{
  color: #3277ba;
  font-size: 2rem;
}
.pack-list{
  padding: 0px 1em;
  line-height: 35px;
  text-align: left;
}
.pack-list li:before{
  content: "\f00c";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3277b9;
  padding-inline-start: 3em;
  margin-right: 1em;
}
.pack-price{
  font-size: 1.2em;
    font-weight: bold;
}
.pack-info a{
  color: #ffffff;
}
.img-pack{
    height: 250px !important;
    width: 100%;
    object-fit: cover;
}
.pack-section{
}
.pack-section{
    display: block;
    padding:0px !important;
    background-image: url(../img/back.png);
    z-index: -1;
    width: 100%;
    height: auto;
    padding: 4em 0 !important;
    position: relative;
}
.after-slider{
  display: block;
  padding:0px !important;
  background-image: url(../img/back-2.jpg);
  z-index: -1;
  height: 100%;
  width: 100%;
  background-size: cover;
  padding-top: 8em !important;
  padding-bottom: 8em !important;
  background-position:100px 0px center;
}
.after-slider h2{
    color: #fff !important;
}
.z-index-100{
  position: relative;
  z-index: 2;
}
.pack-sectionsd:before{
  position: absolute;
  content: "";
  height: 101.1%;
  display: flex;
  width: 100%;
  z-index: 1;
  background: #3277bbbd;
}
.slide-content.absolute{
    padding: 0px 15rem;
    position: absolute !important;
    top: 0 !important;
    z-index: 1000 !important;
    display: block !important;
    left: 0px !important;
    background: #3277bb6b !important;
    color: #fff !important;
    width: 100%;
}

.btn-3d-sub {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 50px;
  font-family: Helvetica;
  border-bottom: 5px solid #2b4d2c;
  border-top: none;
  border-left: none;
  border-right: none;
  background: linear-gradient(#469e3f,#255b20);
  color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 10px grey;
  transition: 150ms ease;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
}
/***** Pulse *****/

a.btn-3d-sub{ 
  animation: pulse 1s infinite;
  animation-timing-function: linear;   
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1);
  100% { transform: scale(1); }
  }
}

.btn-3d-sub:hover{
  color: #fff;
}
.btn-3d-sub:active {
  border: none;
  border-bottom: 2px solid steelblue;
  box-shadow: 0px 1px 5px grey;
  background: linear-gradient(#255b20,#469e3f);
  color: #FFF;
}
.discount-title {
  width: 0;
  overflow: hidden;
  white-space: no-wrap;
  display:block;
  border-right: 3px solid #f9d566;
  animation: typewriter 5s steps(7) infinite, blinking-cursor 0.8s infinite;
  animation-fill-mode: forwards
}

@keyframes typewriter {
  0% { width:0 }
  25% { width: 70% }
  48% { width: 100% }
  50% { width: 100% }
  55% { width: 100% }
  75% { width: 70%; }
  85% { width: 30%; }
  100% { width: 0; }
}

@keyframes blinking-cursor {
  from { border-color: transparent }
  to { border-color: #f9d566 }
}
.custom-section-header{
  padding: 2em 0px;
}
.custom-section-header h2{
  color: #fff;
  font-size: 2em;
} 

.logo-with-words{
  margin-top: -25px;
  width: 80px;
}
.circle-box{
  background: #fff;
  height: 180px;
  width: 180px;
  margin: 0px auto 20px;
  border-radius: 50%;
  padding: 5px;
}
.box-1{
  background-image:url(../img/Revairflyer_BGnd-01.png);
  background-size: contain;
  height: auto;
  padding: 3em 0px 7.9em;
  margin: 5px;
  background-position: bottom;
}
.box-1 .capacity{
    font-size: 6em;
    position: relative;
    left: -23px;
    bottom: 28px;
    top: 4px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #fff;
    font-weight: bold;
}
.box-1 .mbps-text{
    position: absolute;
    font-size: 1.8em;
    right: 4em;
    top: 4.5em;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}
.box-2{
  background-image:url(../img/Revairflyer_BGnd-02.png);
  height: auto;
  padding: 3em 0px 8em;
  background-size: cover;
  margin: 5px;
  background-position: bottom;
}

.box-2 .capacity{
  color: #c4a83b;
  font-size: 6em;
  position: relative;
  left: -23px;
  bottom: 28px;
  top: 6px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #fff;
  letter-spacing: -5px;
  font-weight: bold;
}
.box-2 .mbps-text{
  position: absolute;
  color: #c4a83b;
  font-size: 1.8em;
  right: 2.5em;
  top: 4.5em;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}
.box-3{
  background-image:url(../img/Revairflyer_BGnd-03.png);
  height: auto;
  padding: 3em 0px 7.9em;
  margin: 5px;
  background-size: cover;
  background-position: bottom;
}

.box-3 .capacity{
  color: #2a6799;
  font-size: 6em;
  position: relative;
  left: -23px;
  bottom: 28px;
  top: 6px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #fff;
  letter-spacing: -5px;
  font-weight: bold;
}
.box-3 .mbps-text{
  position: absolute;
  color: #2a6799;
  font-size: 1.8em;
  right: 2.5em;
  top: 4.5em;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}
.box-4{
  background-image:url(../img/Revairflyer_BGnd-04.png);
  background-size: cover;
  height: auto;
  padding: 3em 0px 7.9em;
  margin: 5px;
  background-position: bottom;
}
.box-4 .capacity{
  color: #208b60;
  font-size: 6em;
  position: relative;
  left: -30px;
  bottom: 28px;
  top: 6px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #fff;
  letter-spacing: -5px;
  font-weight: bold;
}
.box-4 .mbps-text{
    position: absolute;
    color: #208b60;
    font-size: 1.8em;
    right: 2.2em;
    top: 4.5em;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}
.amount-text{
  font-size: 1.2em;
  font-weight: bold;
  color: #3b4c54;
  position: absolute;
  margin: 0px auto;
  display: block;
  left: 5em;
  top: 172px;
}
.includes-list{
  color: #fff;
  font-size: 13px;
  padding-inline-start: 25px;
}
.includes-list li{
  list-style: square;
  line-height: 25px;
}
.package-bottom-text{
  font-size: 20px;
  color: #fff;
  padding: 2em 0 0!important;
  -webkit-font-smoothing: antialiased;
}
.watermarker-product-img {
    width: 100%;
    position: absolute;
    margin: auto;
    z-index: 0;
    padding: 5em;
    top: 0;
    opacity: 0.7;
}
.img-moving-bike{
  width: 100%;
  position: absolute;
  bottom: 0px;
}
.navbar-dark .navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}
.navbar-dark .navbar-toggler {
    color: rgb(47, 63, 72);
    border-color: rgb(47, 63, 72);
    padding: 8px 15px;
    border-radius: 0px;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(47, 63, 72);
    text-transform: capitalize;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}
.video-full{
  width: 100%;
  height: 100%;
  display: block;
}
 .navbar-dark .navbar-nav .nav-item:focus a, .navbar-dark .navbar-nav .nav-item:hover a{
    color:  #3377bc;
  }
  .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #3377bc;
    position: relative;
  } 
  .navbar-dark .navbar-nav .nav-item{
    position: relative;
  }
  .navbar-nav .nav-item.active a:after, 
  .navbar-nav .nav-item a:after {
      width: 30px;
  }
  .navbar-nav .nav-item.active a:after, 
  .navbar-dark .navbar-nav .nav-item:hover a:after {
      content: '';
      position: absolute;
      height: 1px;
      background: #fbd032;
      left: 0;
      right: 0;
      top: 0px;
      margin: auto;
      -webkit-transition: all .2s;
      transition: all .2s;
  }