    /*
    Flaticon icon font: Flaticon
    Creation date: 26/03/2018 13:24
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-plan:before { content: "\f100"; }
.flaticon-creative:before { content: "\f101"; }
.flaticon-list:before { content: "\f102"; }
.flaticon-bill:before { content: "\f103"; }
.flaticon-payment-method-1:before { content: "\f104"; }
.flaticon-mobile-atm:before { content: "\f105"; }
.flaticon-mobile-transfer:before { content: "\f106"; }
.flaticon-payment-method:before { content: "\f107"; }
.flaticon-credit-card-1:before { content: "\f108"; }
.flaticon-credit-card:before { content: "\f109"; }
.flaticon-wallet:before { content: "\f10a"; }
.flaticon-restaurant:before { content: "\f10b"; }
.flaticon-insurance-2:before { content: "\f10c"; }
.flaticon-insurance-1:before { content: "\f10d"; }
.flaticon-insurance:before { content: "\f10e"; }
.flaticon-mortgage-1:before { content: "\f10f"; }
.flaticon-solar-energy-1:before { content: "\f110"; }
.flaticon-solar-energy:before { content: "\f111"; }
.flaticon-dumbbell:before { content: "\f112"; }
.flaticon-gym:before { content: "\f113"; }
.flaticon-news-paper-folded:before { content: "\f114"; }
.flaticon-newspaper:before { content: "\f115"; }
.flaticon-cloud:before { content: "\f116"; }
.flaticon-real-estate:before { content: "\f117"; }
.flaticon-loan-1:before { content: "\f118"; }
.flaticon-contract:before { content: "\f119"; }
.flaticon-loan:before { content: "\f11a"; }
.flaticon-mortgage:before { content: "\f11b"; }
.flaticon-id-card:before { content: "\f11c"; }
.flaticon-membership:before { content: "\f11d"; }
.flaticon-wifi:before { content: "\f11e"; }
.flaticon-classroom:before { content: "\f11f"; }
.flaticon-pencil-case:before { content: "\f120"; }
.flaticon-desktop:before { content: "\f121"; }
.flaticon-television:before { content: "\f122"; }
.flaticon-subscription:before { content: "\f123"; }
    
    $font-Flaticon-plan: "\f100";
    $font-Flaticon-creative: "\f101";
    $font-Flaticon-list: "\f102";
    $font-Flaticon-bill: "\f103";
    $font-Flaticon-payment-method-1: "\f104";
    $font-Flaticon-mobile-atm: "\f105";
    $font-Flaticon-mobile-transfer: "\f106";
    $font-Flaticon-payment-method: "\f107";
    $font-Flaticon-credit-card-1: "\f108";
    $font-Flaticon-credit-card: "\f109";
    $font-Flaticon-wallet: "\f10a";
    $font-Flaticon-restaurant: "\f10b";
    $font-Flaticon-insurance-2: "\f10c";
    $font-Flaticon-insurance-1: "\f10d";
    $font-Flaticon-insurance: "\f10e";
    $font-Flaticon-mortgage-1: "\f10f";
    $font-Flaticon-solar-energy-1: "\f110";
    $font-Flaticon-solar-energy: "\f111";
    $font-Flaticon-dumbbell: "\f112";
    $font-Flaticon-gym: "\f113";
    $font-Flaticon-news-paper-folded: "\f114";
    $font-Flaticon-newspaper: "\f115";
    $font-Flaticon-cloud: "\f116";
    $font-Flaticon-real-estate: "\f117";
    $font-Flaticon-loan-1: "\f118";
    $font-Flaticon-contract: "\f119";
    $font-Flaticon-loan: "\f11a";
    $font-Flaticon-mortgage: "\f11b";
    $font-Flaticon-id-card: "\f11c";
    $font-Flaticon-membership: "\f11d";
    $font-Flaticon-wifi: "\f11e";
    $font-Flaticon-classroom: "\f11f";
    $font-Flaticon-pencil-case: "\f120";
    $font-Flaticon-desktop: "\f121";
    $font-Flaticon-television: "\f122";
    $font-Flaticon-subscription: "\f123";